<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Literature Assistant</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-resource.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
        <script src="~/Scripts/item-module.js"></script>
        <script src="~/Scripts/Item/item-service.js"></script>
        <script src="~/Scripts/Item/item-controller.js"></script>
        <script src="~/Scripts/TemplateAttribute/template-attribute-controller.js"></script>
        <script src="~/Scripts/ItemAttribute/item-attribute-controller.js"></script>
        <script src="~/Scripts/User/user-service.js"></script>
        <script src="~/Scripts/User/user-controller.js"></script>
        <script src="~/Scripts/Order/order-service.js"></script>
        <script src="~/Scripts/Order/order-controller.js"></script>
        <script src="~/Scripts/Count/count-service.js"></script>
        <script src="~/Scripts/Count/count-controller.js"></script>
        <script src="~/Scripts/BackButton/back-button.js"></script>
        <script src="~/Scripts/TemplateAttribute/template-attribute-service.js"></script>
        <script src="~/Scripts/TemplateAttribute/template-attribute-controller.js"></script>
    </head>
    <body ng-app="itemModule">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Literature Assistant", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li><a href="#/item">Items</a></li>
                        <li><a href="#/item/create">Create Item</a></li>
                        <li><a href="#/order">Orders</a></li>
                        <li><a href="#/order/create">Create Order</a></li>
                        <li><a href="#/count">Inventory</a></li>
                        <li><a href="#/count/create">Update Inventory</a></li>
                        <li><a href="#/user">Users</a></li>
                        <li><a href="#/user/create">Create User</a></li>
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content" ng-view>
        </div>
        <div class="container body-content">
            <br />
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
   @*     @RenderSection("JavascriptInHead")*@
    </body>
    </html>

@*@model string
<html ng-app="itemModule">
    <head>
        <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/css")
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-resource.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        <script src="~/Scripts/item-module.js"></script>
        @RenderSection("JavascriptInHead", false);
    </head>
    <body>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    </body>
</html>*@