<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/JSPDF/jspdf.min.js"></script>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/angular-resource.js"></script>
        <script src="~/Scripts/angular-route.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
        <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
        <script src="~/app/app.js"></script>
        <!--Services-->
        <script src="~/app/services/dataService.js"></script>
        <script src="~/app/services/jsPdfBarcodeService.js"></script>
        <script src="~/app/services/countService.js"></script>
        <!--Controllers-->
        <script src="~/app/item/addOrUpdateItemController.js"></script>
        <script src="~/app/item/itemsController.js"></script>
        <script src="~/app/users/addOrUpdateUserController.js"></script>
        <script src="~/app/orders/addOrUpdateOrderController.js"></script>
        <script src="~/app/orders/ordersController.js"></script>
        <script src="~/app/count/addOrUpdateCountController.js"></script>
        <script src="~/app/count/countsController.js"></script>
        <script src="~/app/item/addOrUpdateItemController.js"></script>
        <script src="~/app/item/itemsController.js"></script>
        <script src="~/app/organization/addOrUpdateOrganizationController.js"></script>
        <script src="~/app/organization/organizationsController.js"></script>
        <script src="~/app/itemAttribute/addOrUpdateItemAttributesController.js"></script>
        <script src="~/app/itemAttribute/itemAttributesController.js"></script>
        <script src="~/app/itemTemplate/addOrUpdateItemTemplatesController.js"></script>
        <script src="~/app/itemTemplate/itemTemplatesController.js"></script>
        <script src="~/app/templateAttribute/addOrUpdateTemplateAttributeController.js"></script>
        <script src="~/app/templateAttribute/templateAttributesController.js"></script>
        <script src="~/app/inventory/createCountBarcodeAddController.js"></script>
        <script src="~/app/inventory/createCountBarcodeSubtractController.js"></script>
        <script src="~/app/barcode/barcodesController.js"></script>
        <!--Directives-->
        <script src="~/shared-directives/shared-directives.js"></script>
        <script src="~/shared-directives/BackButton/back-button.js"></script>
    </head>
    <body ng-app="app">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Inventory Assistant", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                        <li><a href="#/item">Items</a></li>
                        <li><a href="#/order">Orders</a></li>
                        <li><a href="#/count">Inventory</a></li>
                        <li><a href="#/user">Users</a></li>
                        <li><a href="#/organizations">Admin</a></li>
                        @*<li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content" ng-view>
        </div>
        <div class="container body-content">
            <br />
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
   @*     @RenderSection("JavascriptInHead")*@
    </body>
    </html>